[submodule "v4l2_camera"]
	path = v4l2_camera
	url = https://gitlab.com/boldhearts/ros2_v4l2_camera.git
	branch = humble
[submodule "src/v4l2_camera"]
	path = src/v4l2_camera
	url = https://gitlab.com/boldhearts/ros2_v4l2_camera.git
	branch = humble
[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "src/transport_drivers"]
	path = src/transport_drivers
	url = https://github.com/ros-drivers/transport_drivers.git
